<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Академия джедаев</title>
    <style type="text/css">
    button {
    background: -moz-linear-gradient(#D6AE01, #EBFFFF);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#D6AE01), to(#EBFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
    padding: 3px 7px;
    color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666;
    width: 180px;
    height: 90px;
    font-size : 20px;
    margin-top: 300px;
    }
  </style>
</head>
<body class="container" bgcolor="#181513">
     <center >
      <h1>
          <button onclick="window.location='/masterdjedai'"; class="still">Для Джедаев</button>
          <button onclick="window.location='/candidate'"; class="still">Для кандидатов</button>
      </h1>
  </center>
</body>
</html>