<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поздравляю</title>
    <style type="text/css">
    HEADER {
    width: 100%; height: 70px;
    background: #181513; /*  фона */
    border: 2px solid #fc0; /* рамка */
    }
    H2 {
    font-size: 150%;
    }
    TABLE {
    margin-top: 10%;
    width: 300px;
    border-collapse: collapse;
    }
    TD, TH {
    font-size: 50px;
    padding: 10px;
    white-space: nowrap;
    }
  </style>
</head>
<body bgcolor="#181513">
<font color="#c0c0c0">
    <header>
        <center>
            <h2 onclick="window.location='/index'">
                STAR WARS
            </h2>
        </center>
    </header>
    <center>
        <table>
            <tr>
                <td>
                    {{ text }}
                </td>
            </tr>
        </table>
    </center>
</font>
</body>
</html>