<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Представьтесь</title>
    <style type="text/css">
    TABLE {
    width: 300px;
    border-collapse: collapse;
    }
    TD, TH {
    padding: 7px;
    border: 1px solid black;
    }
  </style>
</head>
<body bgcolor="#181513">
<font color="#D6AE01">
    <form method="POST" action="masterdjedaif">
        {% csrf_token %}
        <table>
            <tr><th>Мин кол-во учеников</th><th><input type="number" name="count" /></th></tr>
            <tr><th colspan="2"><input type="submit" value="Применить" ></th></tr>
        </table>
    </form>
    <center>
    <form method="POST" action="masterdjedai">
        {% csrf_token %}
        <select id="djs" name="djedais">
            {% for dj in djedai %}
            <option value={{ dj.id}}>{{ dj.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Выбрать" >
</form>
        <table>
            <tr><th>Имя</th><th>Кол-во учеников</th><th>Планета обитания</th></tr>
            {% for djed in djedai %}
            <tr>
                {% if djed.NumberPadawans >= filter %}
                <td>{{ djed.name }}</td>
                <td>{{ djed.NumberPadawans }}</td>
                <td>{{ djed.planet.name }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
</center>
</font>
</body>
</html>