<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Представьтесь</title>
    <style type="text/css">
    HEADER {
    width: 100%; height: 70px;
    background: #181513; /*  фона */
    border: 2px solid #fc0; /* рамка */
    }
    H2 {
    font-size: 150%;
    }
    TABLE {
    width: 300px;
    border-collapse: collapse;
    }
    TD, TH {
    padding: 10px;
    border: 2px solid #fc0;
    }
  </style>
</head>
<body bgcolor="#181513">
<font color="#c0c0c0">
    <header>
        <center>
            <h2 onclick="window.location='/index'">
                STAR WARS
            </h2>
        </center>
    </header>
    <form method="POST" action="masterJedi">{% csrf_token %}
        <table>
            <tr><th>Мин кол-во учеников</th><th><input type="number" name="min_number_of_students" min="0" value="{{min_number_of_students}}"/></th></tr>
            <tr><th colspan="2"><input type="submit" value="Применить" ></th></tr>
        </table>
    </form>
    <form method="POST" action="djedai">{% csrf_token %}
        <center>
            <table>
                <tr><th colspan="3">
                    <select id="djs" name="selected_jedi">
                        {% for jedi in all_jedi %}
                        <option value={{jedi.id}}>{{ jedi.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Выбрать" >
                </tr></th>
                <tr><th>Джедай</th><th>Ученики</th><th>Планета обитания</th></tr>
                {% for jedi in list_jedi %}
                <tr>
                    <td>{{ jedi.name }}</td>
                    <td nowrap>
                        {% for pupils in  jedi.candidate_set.all %}
                          {{ pupils.name }}<br>
                        {% endfor %}
                    </td>
                    <td>{{ jedi.planet.name }}</td>
                </tr>
                {% endfor %}
            </table>
        </center>
    </form>
</font>
</body>
</html>