<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тест</title>
    <style>
        FIELDSET {
        border: 2px solid #fc0;
        }
    </style>
</head>border: 2px solid #c0c0c0;
<body bgcolor="#181513">
<font color="#c0c0c0">
    <center>
    <form method="POST" action="test" >{% csrf_token %}
        {% for Question in Questions %}
        <fieldset>
            <legend><p><b>{{ Question.text }}</b></p></legend>
            {% for Answer in Answers %}
            {% if Answer.question == Question %}
            <p><input name={{Question.id}} type="radio" value={{Answer.id}} checked> {{ Answer.text }} </p>
            {% endif%}
            {% endfor %}
        </fieldset>
        {% endfor %}
        <input name="candidate_id" type="hidden" value={{candidate_id}}>
        <input type="submit" value="дальше" >
    </form>
    </center>
</font>
</body>
</html>

