<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тест</title>
</head>
<body bgcolor="#181513">
<font color="#D6AE01">
    <center>
    <form method="POST" action="test" >
        {% csrf_token %}
        {% for Question in Questions %}
        <fieldset>
            <legend><p><b>{{ Question.text }}</b></p></legend>
            {% for Answer in Answers %}
            {% if Answer.question == Question %}
            <p><input name={{Question.id}} type="radio" value={{Answer.id}} checked> {{ Answer.text }} </p>
            {% endif%}
            {% endfor %}
        </fieldset>
        {% endfor %}
        <input name="name" type="hidden" value={{player}}>
        <input type="submit" value="дальше" >
    </form>
    </center>
</font>
</body>
</html>

