<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результаты теста</title>
    <style type="text/css">
    TABLE {
    width: 300px;
    border-collapse: collapse;
    }
    TD, TH {
    padding: 7px;
    border: 1px solid black;
    }
  </style>
</head>
<body bgcolor="#181513">
<center>
    <font color="#D6AE01">
        <h2>{{ name }}</h2>
        <table>
        <tr><th>Вопрос</th><th>Ответ</th></tr>
            {% for test in test_list %}
            <tr>
                {% if test.candidate_answer.id == id %}
                <td>{{ test.test_question.question }}</td>
                <td>{{ test.test_answer.answer }}</td>
                {% endif %}
            </tr>
            {% endfor %}
            <tr><th>Всего вопросов: {{ question }}</th><th nowrap>Правильных: {{ answer }}</th></tr>
        </table>
    </font>
</center>
</body>
</html>